# Python
__pycache__/
*.pyc
venv/
.venv/
*.egg-info/

# Env files
.env

# Node
node_modules/
dist/
.vite/

# Editors / OS
.vscode/
.idea/
.DS_Store

ncc-2025-volume-two-v1.2/*
ncc-2025-housing-provisions-v1.2/*